@model IEnumerable<Movies.TwilightSaw.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<div class="search">
    <form class="search-form" method="get">
        <input id="el1" type="text" name="searchQuery" placeholder="Search movies..." />
        <button class="search-button" type="submit">Search</button>
    </form>
</div>

@foreach (var item in Model)
{
    <div class="block">
        <div class="element">
            <div class="element-image">
                <img class="image" src=" @Html.DisplayFor(modelItem => item.Image)" alt="">
            </div>
            <div class="element-details">
                <div>
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div>
                    @Html.DisplayNameFor(model => model.Score): @Html.DisplayFor(modelItem => item.Score)
                </div>
                <div></div>
            </div>
            <div class="element-description">
                @Html.DisplayFor(modelItem => item.Description)
            </div>
            <div class="element-buttons" id="el2">
                <div>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </div>
                <div>
                    <form asp-route-id="@item.Id" asp-action="Delete">
                        <input type="hidden" asp-for="@item.Id" />
                        <input class="link-input" type="submit" value="Delete"/>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
}
<a asp-action="Create" class="create">
    <div class="block">
        <div class="element-add">
            <div>
                <img class="image">
            </div>
            <div class="add-image">
                <img class="element-plus" fill="currentColor" src="https://www.svgrepo.com/show/428613/plus.svg">
            </div>
        </div>
    </div>
</a>