@model IEnumerable<Movies.TwilightSaw.Models.Series>

@{
    ViewData["Title"] = "Index";
}

<div class="search">
    <form method="get">
        <input type="text" name="searchQuery" placeholder="Search series..." />
        <button type="submit">Search</button>
    </form>
</div>

@foreach (var item in Model)
{
    <div class="block">
        <div class="element">
            <div>
                <img class="element-image" src=" @Html.DisplayFor(modelItem => item.Image)" alt="">
            </div>
            <div class="element-details">
                <div>
                   @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div>
                    @Html.DisplayNameFor(model => model.Score): @Html.DisplayFor(modelItem => item.Score)
                </div>
                <div>
                    @Html.DisplayNameFor(model => model.Episodes): @Html.DisplayFor(modelItem => item.Episodes)
                </div>
            </div>
            <div class="element-details" id="el2">
                <div>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </div>
                <div>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </div>
                <div>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
            <div>

            </div>
        </div>
        <div class="element-description">
            @Html.DisplayFor(modelItem => item.Description)
        </div>
    </div>
}
<a asp-action="Create" class="create">
    <div class="block">
        <div class="element">
            <div>
                <img class="element-image">
            </div>
            <div class="center-image">
                <div>
                    <img class="element-plus" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Plus_symbol.svg/1707px-Plus_symbol.svg.png">
                </div>
            </div>
        </div>
    </div>
</a>